.introAnimation {

}

#mottoDiv {
    margin-top: 2px;
    border: 7px solid gray;
    opacity: 0%;
    animation: motoAnim 2.0s ease forwards 3.5s;
}

#motto1 {
    animation: motoAnim 2.0s ease forwards 3.5s;
    opacity: 0%;
}

#motto2 {
    animation: motoAnim 2.0s ease forwards 4.8s;
    opacity: 0%;
}

#mottoSpan {
    margin-top: -20px;
}

#logoTxt {
    fill: none;
    animation: fill-anim 2.1s ease forwards 3.0s;
}


#logoTxt path:nth-child(2) {
    stroke-dasharray: 650px;
    stroke-dashoffset: 650px;
    animation: line-anim 2s ease forwards;
}

#logoTxt path:nth-child(3) {
    stroke-dasharray: 350px;
    stroke-dashoffset: 350px;
    animation: line-anim 2s ease forwards 0.3s;
}

#logoTxt path:nth-child(4) {
    stroke-dasharray: 480px;
    stroke-dashoffset: 480px;
    animation: line-anim 2s ease forwards 0.6s;
}

#logoTxt path:nth-child(5) {
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
    animation: line-anim 2s ease forwards 0.9s;
}

#logoTxt path:nth-child(6) {
    stroke-dasharray: 270px;
    stroke-dashoffset: 270px;
    animation: line-anim 2s ease forwards 1.2s;
}

#logoTxt path:nth-child(7) {
    stroke-dasharray: 250px;
    stroke-dashoffset: 250px;
    animation: line-anim 2s ease forwards 1.5s;
}

#logoTxt path:nth-child(8) {
    stroke-dasharray: 250px;
    stroke-dashoffset: 250px;
    animation: line-anim 2s ease forwards 1.8s;
}

#logoTxt path:nth-child(9) {
    stroke-dasharray: 350px;
    stroke-dashoffset: 350px;
    animation: line-anim 2s ease forwards 2.1s;
}

#logoTxt path:nth-child(10) {
    stroke-dasharray: 200px;
    stroke-dashoffset: 200px;
    animation: line-anim 2s ease forwards 2.4s;
}


@keyframes line-anim{
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-anim{
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

@keyframes motoAnim {
    to {
        opacity: 100%;
    }

}
