.heartButtonImg{
  padding: 5px;
}

.heartButton{
  border: transparent;
  width: 60px;
}

.heartButton:active {
  outline: none;
  border: none;
}

.heartButton:focus {
  outline:0;
}

.socialHeartNum{
  margin-left: -10px;
}